body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;


}


.navbar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  border: 3px solid rgb(67, 30, 69);

  
  
  
}
 .nav_links ul li a{
  transition:all 0.5s ease;

}
.nav_links a:hover{
  color: rgb(41, 41, 117);
}

.logo img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border:4px solid rgb(86, 43, 77);
  
}
.name{
  font-size: 10px;
  font-weight: bold;
  margin-top: 2px;
  margin-left: 10px;
  color:rgb(234, 234, 218);

}
 
.navbar, .nav_links, ul, li, a{
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(216, 217, 234);
  text-decoration: none;
  
}
.nav_links, ul, li, a{
  margin-right: 20px;
}


.back_vid{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  mix-blend-mode: overlay;
}




/*     HERO SECTION           */
.home{
  display:flex;
  
  margin-top: 10%;
  min-height: 100vh;
  flex-direction: row;
  text-align: center;

}


.content{
  max-width: 600px;
 margin-left: 40px;
}

.content h3{
  font-size: 24px;
  color: rgb(200, 220, 230);
}

.content h1{
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}
 .h_light{
 
  color:rgb(79, 165, 218);

}

.h_light{
  font-size:24px ;
  font-weight: bold;
}
.socials a {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  
  
}


.socials i{
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 3px solid rgb(148, 148, 224);
  border-radius: 50%;
  


}

.socials i:hover{
  transform: scale(1.2);
  color: rgb(148, 148, 224);
}
.btn{
  background:rgb(85, 27, 124) ;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background o.3s ease;
}
.btn:hover{
  background: rgb(148, 148, 222);
}
.profile_image{
  display: flex;
  justify-content: center;
  margin-left: 20%;
  

}

.profile_image img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid rgb(99, 58, 81);
  box-shadow: rgb(11, 11, 14);
}

@media(max-width: 768px){
  .home{
    flex-direction: column;
    text-align: center;

  }
  .profile_image{
    margin-top: 30px;
  }
}
